{% extends 'clienttemplates/clientbasepage.html' %}

{% load static %}

{% block content %}
<section class="container">
  <div class="for-seo">
    <!-- <h1 class="entry-title">Company Profile</h1> -->
  </div>

  <div id="internal-banner">
    <img
    id="desktop-hero"
    src="{% static 'clientstatic/homepage/image/cover.jpg' %}"
    style="width: inherit; height: inherit"
    />
    <!-- <img id="mobile-hero" src=""> -->

    <div
    class="grid-x grid-container grid-padding-x align-right align-middle leadspace-text"
    >
    <div class="large-5 cell">
      <!-- Repeater fields for CTA -->
    </div>
  </div>
</div>

<div id="stats">
  <div
  class="grid-x align-spaced brands grid-padding-x grid-container"
  >
  <div class="stat-list small-12 medium-2 large-2 cell">
    <img src="{% static 'clientstatic/homepage/image/members.png' %}" alt="Members" />
    <div class="stat-numbers">
      <div class="numbers">800</div>
      <div class="stat-label">Total Members</div>
    </div>
  </div>
  <div class="stat-list small-12 medium-2 large-2 cell">
    <img src="{% static 'clientstatic/homepage/image/patners.png' %}" alt="Patners" />
    <div class="stat-numbers">
      <div class="numbers">200</div>
      <div class="stat-label">International members</div>
    </div>
  </div>
  <div class="stat-list small-12 medium-2 large-2 cell">
    <img src="{% static 'clientstatic/homepage/image/international.png' %}" alt="international" />
    <div class="stat-numbers">
      <div class="numbers">600</div>
      <div class="stat-label">International Member</div>
    </div>
  </div>
  <div class="stat-list small-12 medium-2 large-2 cell">
    <img src="{% static 'clientstatic/homepage/image/executives.png' %}" alt="Executives" />
    <div class="stat-numbers">
      <div class="numbers">11</div>
      <div class="stat-label">Executatives</div>
    </div>
  </div>
</div>
</div>

<!-- Stat template part -->

<section class="center padded about-bg">
  <article class="grid-container grid-x grid-padding-x">
    <div class="small-12 cell">
      <h2>About Us</h2>
      <p class="intro-text">
        Li Europan lingues es membres del sam familie. Lor separat
        existentie es un myth. Por scientie, musica, sport etc, litot
        Europa usa li sam vocabular. Li lingues differe solmen in li
        grammatica, li pronunciation e li plu commun vocabules.
        Omnicos directe al desirabilite de un no
      </p>
      <div style="width: 100%">
        <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/CAUGgCVEdyk"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        ></iframe>
      </div>
      <br />
      <div class="main-text">
        <p>
          Li Europan lingues es membres del sam familie. Lor separat
          existentie es un myth. Por scientie, musica, sport etc,
          litot Europa usa li sam vocabular. Li lingues differe solmen
          in li grammatica, li pronunciation e li plu commun
          vocabules. Omnicos directe al desirabilite de un nov lingua
          franca: On refusa continuar payar custosi traductores. At
          solmen va esser necessi far uniform grammatica,
          pronunciation e plu sommun paroles. Ma quande lingues
          coalesce, li grammatica del resultant lingue es plu simplic
          e regulari quam ti del coalescent lingues. Li nov lingua
          franca va esser plu simplic e regulari quam li existent
          Europan lingues. It va esser tam simplic quam Occidental in
          fact, it va esser Occidental. A un Angleso it va semblar un
          simplificat Angles, quam un skeptic Cambridge amico dit me
          que Occidental es.Li Europan lingues es membres del sam
          familie. Lor separat existentie es un myth. Por scientie,
          musica, sport etc, litot Europa usa li sam vocabular. Li
          lingues differe solmen in li grammatica, li pronunciation e
          li plu commun vocabules. Omnicos directe al desirabilite de
          un nov lingua franca: On refusa continuar payar custosi
          traductores. At solmen va esser necessi far uniform
          grammatica, pronunciation e plu sommun paroles.
        </p>
        <p>
          Li Europan lingues es membres del sam familie. Lor separat
          existentie es un myth. Por scientie, musica, sport etc,
          litot Europa usa li sam vocabular. Li lingues differe solmen
          in li grammatica, li pronunciation e li plu commun
          vocabules. Omnicos directe al desirabilite de un nov lingua
          franca: On refusa continuar payar custosi traductores. At
          solmen va esser necessi far uniform grammatica,
          pronunciation e plu sommun paroles. Ma quande lingues
          coalesce, li grammatica del resultant lingue es plu simplic
          e regulari quam ti del coalescent lingues. Li nov lingua
          franca va esser plu simplic e regulari quam li existent
          Europan lingues. It va esser tam simplic quam Occidental in
          fact, it va esser Occidental. A un Angleso it va semblar un
          simplificat Angles, quam un skeptic Cambridge amico dit me
          que Occidental es.Li Europan lingues es membres del sam
          familie. Lor separat existentie es un myth. Por scientie,
          musica, sport etc, litot Europa usa li sam vocabular. Li
          lingues differe solmen in li grammatica, li pronunciation e
          li plu commun vocabules. Omnicos directe al desirabilite de
          un nov lingua franca: On refusa continuar payar custosi
          traductores. At solmen va esser necessi far uniform
          grammatica, pronunciation e plu sommun paroles.
        </p>
        <p>
          Li Europan lingues es membres del sam familie. Lor separat
          existentie es un myth. Por scientie, musica, sport etc,
          litot Europa usa li sam vocabular. Li lingues differe solmen
          in li grammatica, li pronunciation e li plu commun
          vocabules. Omnicos directe al desirabilite de un nov lingua
          franca: On refusa continuar payar custosi traductores. At
          solmen va esser necessi far uniform grammatica,
          pronunciation e plu sommun paroles. Ma quande lingues
          coalesce, li grammatica del resultant lingue es plu simplic
          e regulari quam ti del coalescent lingues. Li nov lingua
          franca va esser plu simplic e regulari quam li existent
          Europan lingues. It va esser tam simplic quam Occidental in
          fact, it va esser Occidental. A un Angleso it va semblar un
          simplificat Angles, quam un skeptic Cambridge amico dit me
          que Occidental es.Li Europan lingues es membres del sam
          familie. Lor separat existentie es un myth. Por scientie,
          musica, sport etc, litot Europa usa li sam vocabular. Li
          lingues differe solmen in li grammatica, li pronunciation e
          li plu commun vocabules. Omnicos directe al desirabilite de
          un nov lingua franca: On refusa continuar payar custosi
          traductores. At solmen va esser necessi far uniform
          grammatica, pronunciation e plu sommun paroles.
        </p>
        <p>
          Li Europan lingues es membres del sam familie. Lor separat
          existentie es un myth. Por scientie, musica, sport etc,
          litot Europa usa li sam vocabular. Li lingues differe solmen
          in li grammatica, li pronunciation e li plu commun
          vocabules. Omnicos directe al desirabilite de un nov lingua
          franca: On refusa continuar payar custosi traductores. At
          solmen va esser necessi far uniform grammatica,
          pronunciation e plu sommun paroles. Ma quande lingues
          coalesce, li grammatica del resultant lingue es plu simplic
          e regulari quam ti del coalescent lingues. Li nov lingua
          franca va esser plu simplic e regulari quam li existent
          Europan lingues. It va esser tam simplic quam Occidental in
          fact, it va esser Occidental. A un Angleso it va semblar un
          simplificat Angles, quam un skeptic Cambridge amico dit me
          que Occidental es.Li Europan lingues es membres del sam
          familie. Lor separat existentie es un myth. Por scientie,
          musica, sport etc, litot Europa usa li sam vocabular. Li
          lingues differe solmen in li grammatica, li pronunciation e
          li plu commun vocabules. Omnicos directe al desirabilite de
          un nov lingua franca: On refusa continuar payar custosi
          traductores. At solmen va esser necessi far uniform
          grammatica, pronunciation e plu sommun paroles.
        </p>
      </div>
    </div>
  </article>
</section>

<!-- Team Members -->
<section class="center padded light-grey">
  <article>
    <h2>Some Of Our Team Members</h2>
    <div
    class="grid-container grid-x grid-container-padded team-members"
    >
    <div
    class="medium-6 large-3 cell grid-x team align-self-top grid-padding-x"
    >
    <div class="small-4 medium-12 cell">
      <img src="{% static 'clientstatic/homepage/image/propic.png' %}" alt="Team" />
    </div>
    <div class="small-8 medium-12 cell align-self-top">
      <span class="name">Sijan Augero</span>
      <span class="position">Group General Manager</span>

      <a class="email-link" href="#"
      ><i class="fa fa-envelope-o" aria-hidden="true"></i>
      dummy@MCFC.com</a
      >
    </div>
  </div>
  <div
  class="medium-6 large-3 cell grid-x team align-self-top grid-padding-x"
  >
  <div class="small-4 medium-12 cell">
    <img src="{% static 'clientstatic/homepage/image/propic.png' %}" alt="Team" />
  </div>
  <div class="small-8 medium-12 cell align-self-top">
    <span class="name">Sane babu</span>
    <span class="position">Player </span>

    <a class="email-link" href="#"
    ><i class="fa fa-envelope-o" aria-hidden="true"></i>
    dummy@MCFC.com</a
    >
  </div>
</div>
<div
class="medium-6 large-3 cell grid-x team align-self-top grid-padding-x"
>
<div class="small-4 medium-12 cell">
  <img src="{% static 'clientstatic/homepage/image/propic.png' %}" alt="Team" />
</div>
<div class="small-8 medium-12 cell align-self-top">
  <span class="name">Kelvin Bhai</span>
  <span class="position">Passer</span>

  <a class="email-link" href="#"
  ><i class="fa fa-envelope-o" aria-hidden="true"></i>
  dummy@MCFC.com</a
  >
</div>
</div>
<div
class="medium-6 large-3 cell grid-x team align-self-top grid-padding-x"
>
<div class="small-4 medium-12 cell">
  <img src="{% static 'clientstatic/homepage/image/propic.png' %}" alt="Team" />
</div>
<div class="small-8 medium-12 cell align-self-top">
  <span class="name">PEP chora</span>
  <span class="position">Bencher</span>

  <a class="email-link" href="#"
  ><i class="fa fa-envelope-o" aria-hidden="true"></i>
  dummy@MCFC.com</a
  >
</div>
</div>
</div>
</article>
</section>
</section>
{% endblock %}